# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
build/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ignore system / docker / binaries
*.dll
*.exe
*.log
*.json
docker/
*.bin

# Ignore cursor working folders
.cursor/